workflows/MINERS-Social-Initiation.json
{"id":"K1YQ3T7gAlXlSwYV","name":"MINERS-Social-Initiation","active":true,"isArchived":false,"versionId":"b1cb40c2-b5ac-4a35-bfe5-de3d66d6d9bc","activeVersionId":"b1cb40c2-b5ac-4a35-bfe5-de3d66d6d9bc","triggerCount":1,"createdAt":"2026-06-19T18:12:04.629Z","updatedAt":"2026-06-24T17:39:45.312Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Mon, Wed & Fri 10am":{"main":[[{"node":"Check Theme Override","type":"main","index":0}]]},"Check Theme Override":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Create Session Row","type":"main","index":0}]]},"Create Session Row":{"main":[[{"node":"Ask Post Today","type":"main","index":0}]]}},"nodes":[{"id":"fcd231a1-a1cd-4b8e-b229-f78d076698a3","name":"Mon, Wed & Fri 10am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 10 * * 1,3,5","timezone":"Europe/London"}]}}},{"id":"a5d5dcb8-3c42-4b13-9da0-ab9b393b1a4e","name":"Check Theme Override","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,0],"parameters":{"operation":"getAll","tableId":"theme_config","returnAll":false,"limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"active","condition":"eq","keyValue":"true"}]}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"id":"49df4825-bae8-4df1-952c-e272f3f38079","name":"Build Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const themes = ['Food spotlight','Atmosphere / weekend vibe','Bar & drinks','Community / local feel','Three-kitchen heritage','Weekly special or event'];\nconst now = new Date();\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\nconst week = Math.floor((now - startOfYear) / (7*24*60*60*1000));\nconst weekTheme = themes[week % 6];\n\nconst overrideItems = $('Check Theme Override').all();\nconst firstItem = overrideItems.length > 0 ? overrideItems[0].json : {};\nconst theme = (firstItem && firstItem.custom_theme) ? firstItem.custom_theme : weekTheme;\n\nconst dayOfWeek = now.toLocaleDateString('en-GB', { weekday: 'long', timeZone: 'Europe/London' });\nconst chatIds = ['1342891001', '5765665250', '5930338959'];\nreturn chatIds.map(chatId => ({ json: { theme, dayOfWeek, chatId } }));"}},{"id":"233cf179-0feb-4cdb-8c9b-cc7de8169bb9","name":"Create Session Row","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,0],"parameters":{"resource":"row","operation":"create","tableId":"social_posts","dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"awaiting_yes_no"},{"fieldId":"theme","fieldValue":"={{ $json.theme }}"},{"fieldId":"day_of_week","fieldValue":"={{ $json.dayOfWeek }}"},{"fieldId":"chat_id","fieldValue":"={{ $json.chatId }}"}]}}},{"id":"ff08b954-d6f2-48aa-b45e-3410b8cdc495","name":"Ask Post Today","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,0],"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id || '5930338959' }}","text":"=Good {{ $('Build Context').item.json.dayOfWeek }}! 📣 Time for your social media post.\n\nToday's theme: <b>{{ $json.theme }}</b>\n\nWant to post today?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Yes","additionalFields":{"callback_data":"={{ \"q1:y:\" + $json.id }}"}},{"text":"❌ No","additionalFields":{"callback_data":"={{ \"q1:n:\" + $json.id }}"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"onError":"continueRegularOutput","webhookId":"4b5b4754-7195-40cb-a713-84f9cc97ad78"}],"description":"Fires Mon, Wed & Fri at 10am London time. Checks Supabase theme_config for override, falls back to week rotation. Creates a session row per recipient and prompts all 3 owners via Telegram Yes/No."}
